html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}
h4 {
  text-align: center;
}
#form-cnt {
  width: 340px;
  margin: 200px auto;
}
label {
  margin-top: 10px;
}
.btn {
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#nfnd {
  padding: 20px;
}
.checkbox {
  margin: 23px 0 0 160px;
}
#print {
  padding: 20px;
}
