textShadow()
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

html, body 
	margin: 0
	padding: 0
	height: 100%
	user-select: none
	
// login page //
    
#login-container{
	width 340px
	margin 160px auto
	label{
		margin 15px 0 5px 5px
	}
	#btn-login{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	#remember-me{
		margin 23px 0 0 180px
	}
	#btm-links{
		text-align center
		margin-top 10px
	}
	#forgot-pass{
		float:left
		margin-left:10px
	}
	#create-account{
		float:right
		margin-right:13px
	}
}

// signup page //

#signup-container
	width 460px
	margin 100px auto
#clist
	width 280px
#signupErrors .modal-body{
	p{
		color grey
		textShadow()	
	}
	li{
		color #D8000C
		textShadow()	
	}
}

// retrieve password window //

#getCredentials{
	width 494px	
	margin -200px 0 0 -250px
	#emailForm{
		color grey		
		textShadow()
		margin-bottom 0
	}
	form button{
		width 80px
		top 213px
		position absolute		
	}
	#cancel{
		right 110px
	}
	#submit{
		right 20px
	}	
	.modal-body{
		height 140px
		overflow hidden	
		padding-bottom 0
	}
	.modal-footer{
		height 20px
	}	
}

#loginFailure{
	width 310px
	margin -200px 0 0 -150px	
	.cancel{
	    float right
	}
}

    
// logged-in page //    
    
#btn-logout
	width 100px
	top 1px
	right 8px
	position absolute
	
#userData{
    margin 50px 0 0 22px
    p {
        color grey
    }
}
    
// support pages //

#print
	padding 20px
#four04
	padding:20px	
    
// shared rules //
button i
	padding-left 8px
.clear-fix
	clear both
label
	color grey
	textShadow()
.subheading
	color #777
	textShadow()		
	margin-top 3px
form, .form-horizontal, .well
	margin-left 0	
.form-horizontal .control-label
	width 80px
.form-horizontal .controls
	margin-left 120px
.form-horizontal .form-actions
	margin 0
	padding 17px 0 0 270px