
footer_height = 40px

html, body 
    margin: 0
    padding: 0
    height: 100%
    user-select: none
    
#wrap 
    min-height: 100%

#main 
    overflow: auto
    padding-bottom: 40px
    background-color: white
    
#footer
    position: relative
    height: footer_height
    margin-top: - footer_height
    background-color:#ddd  
    
#nfnd
    padding:20px