html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}
#login-container {
  width: 340px;
  margin: 160px auto;
}
#login-container #subheading {
  color: #777;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
#login-container form {
  margin-left: 0;
}
#login-container label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin: 15px 0 5px 5px;
}
#login-container #btn-login {
  width: 150px;
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#login-container #remember-me {
  margin: 23px 0 0 180px;
}
#login-container #btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #forgot-pass {
  float: left;
  margin-left: 10px;
}
#login-container #create-account {
  float: right;
  margin-right: 13px;
}
#sendCredentials {
  width: 494px;
  margin: -200px 0 0 -250px;
}
#sendCredentials #emailForm {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-bottom: 0;
}
#sendCredentials form button {
  width: 80px;
  top: 213px;
  position: absolute;
}
#sendCredentials #cancel {
  right: 110px;
}
#sendCredentials #submit {
  right: 20px;
}
#sendCredentials .modal-body {
  height: 140px;
  overflow: hidden;
  padding-bottom: 0;
}
#sendCredentials .modal-footer {
  height: 20px;
}
#btn-logout {
  width: 100px;
  top: 1px;
  right: 8px;
  position: absolute;
}
#print {
  padding: 20px;
}
button i {
  padding-left: 8px;
}
.clear-fix {
  clear: both;
}
#four04 {
  padding: 20px;
}
