
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

.row
  .small-6.small-centered.columns(ng-controller="SignupController2")
      form.panel.css-form(name="form", novalidate)
        h1 Signup
        fieldset(ng-disabled='form_disabled')
          legend Please fill out your information.
          .row
            .small-6.columns
            label Name
            input(name='name', type='text', ng-model='user.name', required, autofocus)
            small.error.ng-cloak(ng-show='form.name.$dirty && form.name.$error.required') Name is required.
          .row
            label(ng-class='{error: form.email.$dirty && form.email.$invalid}') Email
            input(name='email', type='email', ng-model='user.email',
  	    ng-class='{error: form.email.$dirty && form.email.$invalid}', 
              required, ng-change='form.email.$setValidity("taken",true)')
            small.error.ng-cloak(ng-show='form.email.$error.taken') Email is already in use.
            small.error.ng-cloak(ng-show='form.email.$dirty && form.email.$error.required') Email is required.
            small.error.ng-cloak(ng-show='form.email.$error.email') This is not a valid email
          .row
            label Location
            select(name='country', required)
              each item in countries
                option(selected=item.name == user.country)= item.name
            small.error.ng-cloak(ng-show='form.country.$invalid') Select a country.
          hr
          .row
            label Username
            input(type='text', name='user', ng-model='user.user', required, ng-change='form.user.$setValidity("taken",true)')
            small.error.ng-cloak(ng-show='form.user.$error.taken') Username is taken.
          .row
            label Password
            input(type='password', name='password', ng-model='user.password', ng-change='checkPassword()', required)
          .row
            label Password Again
            input(type='password', name='password2', ng-model='user.password2', ng-change='checkPassword()', required)
            small.error.ng-cloak(ng-show='form.password.$dirty && form.password2.$dirty && form.password.$error.dontMatch') Passwords don't match.
          .form-actions
            button(type='button', ng-click='goto("/")')#account-form-btn1.btn Cancel
            button(ng-disabled='form.$invalid || isUnchanged(user)', ng-click='update(user)')#account-form-btn2.btn Submit

#success.reveal-modal
  h2 You've signed up!
  p Thanks for registering with us.  Next, we'll go to the login page...
  a.close-reveal-modal &#215;

