
extends layout

block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='#').brand Control Panel
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out

	include account
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')