!!! 5
html(ng-app="signup")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Abuxi Login
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/custom.modernizr.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js')
  body
    block content
    block scripts
