extends layout

prepend html
  html(ng-app="login")

block content
  .row
    .small-6.small-centered.columns(ng-controller="LoginController")
      form.panel.css-form(name="form")
        h1 Hello!
        fieldset
          legend Please Login To Your Account
          .row
            label Username
            input(name="user", ng-model="user.user", type="text", required, autofocus)
          .row
            label Password
            input(type="password", name="pass", ng-model="user.pass", required)
          .row.text-center
            button(ng-click='login(user)') Sign In
            label Remember Me
              input(type="checkbox", checked='checked')
        .row.text-center
          ul.large-block-grid-2
            li: a(href='#', data-reveal-id='getCredentials') Forgot Your Password?
            li: a(href='/signup') Create An Account

  include modals/alert
  include modals/lost-password

block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/vendor/zepto.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/foundation.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular-resource.min.js')
  != js('/js/controllers/loginController.js')
  script(src='/js/views/login.js')
  script(src='/js/form-validators/loginValidator.js')
  script(src='/js/form-validators/emailValidator.js')
  script
    $(document).foundation();
