
extends layout

block content

	#login.center-vertical
		form.well(id='form-login', method='post')
			h2 Hello!
			h6 Please Login To Your Account
			.form-group
				label Username
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Password
				input.form-control(type='password', id='pass-tf', name='pass')
			.controls
				button(type='button').btn.btn-default.button-rememember-me
					span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					| Remember Me
				button(type='submit').btn.btn-primary.button-sign-in
					span.glyphicon.glyphicon-lock
					| Sign In
			.clearfix
			hr
			.btm-links
				#forgot-password
					a(href='#') Forgot Your Password?
				#create-account
					a(href='/signup') Create An Account
			.clearfix

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')