extends layout

prepend html
  html(ng-app="login")

block content
  .row
    .small-6.small-centered.columns(ng-controller="LoginController")
      form.panel.css-form(name="form")
        h1 Hello!
        fieldset
          legend Please Login To Your Account
          .row
            label Username
            input(name="user", ng-model="user.user", type="text", required, autofocus)
          .row
            label Password
            label(ng-class="errorUnlessValid('password')") Password
            input(type='password', name='password', ng-model='user.password', 
                  ng-class="errorUnlessValid('password')", required)
            errormsg(type='password/required') Password is required
          .row.text-center
            button(ng-click='login(user)') Sign In
            label Remember Me
              input(type="checkbox", checked='checked')
        .row.text-center
          ul.large-block-grid-2
            li: a(href='#', data-reveal-id='getCredentials') Forgot Your Password?
            li: a(href='/signup') Create An Account

  include modals/lost-password

block scripts
  != cdn_js('foundation/4.1.2/js/vendor/zepto.min')
  != cdn_js('foundation/4.1.2/js/foundation.min')
  != cdn_js('angular.js/1.1.1/angular.min')
  != cdn_js('angular.js/1.1.1/angular-resource.min')
  != js('utils')
  != js('controllers/loginController')
  script(src='/js/form-validators/loginValidator.js')
  script(src='/js/form-validators/emailValidator.js')
  script
    $(document).foundation();
