
extends layout

block content
	include modals/reset-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/reset.js')
	script(src='/js/form-validators/resetValidator.js')