extends layout

prepend html
  html(ng-app="signup")

block content
  include account
  include modals/alert

block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/vendor/zepto.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/foundation.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular-resource.min.js')
  != js('controllers/signupController')
  script(src='/js/form-validators/accountValidator.js')
  script
    $(document).foundation();

