
.modal-confirm.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				p
			.modal-footer
				button(data-dismiss="modal").cancel.btn.btn-outline-dark Cancel
				button.submit.btn.btn-primary Ok