
#get-credentials.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Retrieve Password
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form(method="post")#get-credentials-form
					.form-group
						label Please enter the email address associated with your account
						input.form-control(type="email", id='email-tf', name="email").required
						.alert.alert-danger.hide
			.modal-footer
				button(data-dismiss="modal")#cancel.btn.btn-outline-dark Cancel
				button(type="submit")#retrieve-password-submit.btn.btn-primary Submit
