
#set-password.modal
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Reset Password
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form(method="post")#set-password-form
					.form-group
						label Please enter your new password
						input.form-control(type="password", name="pass", id='pass-tf').required
						.alert.alert-danger.hide
			.modal-footer
				button(type="submit" form="set-password-form")#set-password-submit.btn.btn-primary Submit
