
.modal-alert.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        p
    div.modal-footer
        button(data-dismiss="modal")#ok.btn.btn-warning OK