
.modal-confirm.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4
			.modal-body
				p
			.modal-footer
				button(data-dismiss="modal").cancel.btn.btn-default Cancel
				button.submit.btn.btn-primary Ok