
.modal-form-errors.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 Whoops!
	div.modal-body
		p.subheading It looks like there was a problem.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK