
#get-credentials.modal-single-input.modal.fade.hide
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 Retrieve Password
	div.modal-body
		form(method="post")#get-credentials-form.well.span5
			p Please enter the email address associated with your account
			input(type="text", name="email", id='email-tf').span5.required
			div.alert.alert-error.hide
			button(data-dismiss="alert").close
	div.modal-footer
			button(data-dismiss="modal")#cancel.btn Cancel
			button(type="submit")#retrieve-password-submit.btn.btn-primary Submit