#getCredentials.reveal-modal
  h2 Retrieve Password
  form(method="post")#get-credentials-form
  p Please enter the email address associated with your account
  input(type="text", name="email", id='email-tf', required, autofocu)
  button(type="submit")#submit.btn.btn-primary Submit
  button#cancel.btn Cancel
  div.alert.alert-error.hide
  a.close-reveal-modal &#215;
