
#set-password.modal-single-input.modal.hide.fade
	div.modal-header
		h3 Reset Password
	div.modal-body
		form( method="post")#set-password-form.well.span5
			p Please enter your new password
			input(type="password", name="pass", id='pass-tf').span5.required
			button(type="submit")#submit.btn.btn-primary Submit
			div.alert.alert-error.hide
			button(data-dismiss="alert").close
	div.modal-footer