div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            ul#global-nav.nav.pull-left
                li.divider-vertical
                a(href='#').brand Hello !            
                li.divider-vertical
            button#btn-logout.btn.btn-primary
                i.icon-lock.icon-white
                | Sign Out
                
script(src='/vendor/jquery.min.js')
script(src='/js/home.js')