
#login-container
    form( method="post")#loginForm.well.span4
        h1 Hello! 
        p.subheading Please Login To Your Account
        label Username 
        input(type="text", name="user", id='user-tf').span4.required
        label Password
        input(type="password", name="pass", id='pass-tf').span4.required
        button(type="submit")#btn-login.btn.btn-primary
            i.icon-lock.icon-white
            | Sign in
        label#remember-me.checkbox Remember Me
            input(type="checkbox")
        div.clear-fix
        hr
        #btm-links
            a(href='#')#forgot-pass Forgot Your Password? 
            a(href='/signup')#create-account Create An Account

#getCredentials.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 Retrieve Password
    div.modal-body
        form( method="post")#emailForm.well.span5
            p Please enter the email address associated with your account
            input(type="text", name="email", id='email-tf').span5.required
            button(type="submit")#submit.btn.btn-primary Submit
            button(data-dismiss="modal")#cancel.btn Cancel
            div.alert.alert-error
            button(data-dismiss="alert").close
    div.modal-footer
    
#loginFailure.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 Login Failure
    div.modal-body
        p Please check your username and/or password
    div.modal-footer
        button(data-dismiss="modal").cancel.btn.btn-warning OK    

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/login.js')
script(src='/js/loginController.js')