#print
    p= title
ul.nav.nav-tabs.nav-stacked
    - each account in accts
        li(id=account._id)
            a(href="#")!= account.name +' , '+ account.country +' , '+ account.user +' , '+account.pass

script(src='/vendor/jquery.min.js')
script(src='/js/print.js')