
// store the passId on the client side in a hidden input field //
input(type='hidden', value= pid)#pid

include modals/reset-password

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/form-validators/resetValidator.js')
script(src='/js/views/reset.js')