
#signup-container
	form( method="post")#signupForm.form-horizontal.well.span6
		h1 Signup 
		p.subheading Please tell us a little about yourself.
		hr
		fieldset
			#name-cg.control-group
				label.control-label(for='name-tf') Name
				.controls
					input#name-tf.input-xlarge(type='text', name='name')
			#email-cg.control-group
				label.control-label(for='email-tf') Email
				.controls
					input#email-tf.input-xlarge(type='text', name='email')
			.control-group
				label.control-label(for='clist') Location
				.controls
					select#clist
						- var items = countries
						each item in items
							option= item.name
			hr
			p.subheading Choose your username & password
			#user-cg.control-group
				label.control-label(for='user-tf') Username
				.controls
					input#user-tf.input-xlarge(type='text', name='user')
			#pass-cg.control-group
				label.control-label(for='pass-tf') Password
				.controls
					input#pass-tf.input-xlarge(type='password', name='pass')
			.form-actions
				button#signup-no.btn Cancel
				button(type='submit')#signup-ok.btn.btn-primary Submit

#signupErrors.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 Whoops!
	div.modal-body
		p It looks like there was a problem.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK


script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/signup.js')