div(style='padding:20px') 
    p Hello from title
    #cnt

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/underscore-min.js')
script(src='/vendor/backbone-min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/js/socket.js')
script(src='/js/backbone.js')